<ion-header>
  <ion-toolbar>
    <ion-title>Crear Plato</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="guardarPlato()" [disabled]="platoForm.invalid">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="platoForm">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" formControlName="precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Cocinero</ion-label>
      <ion-select formControlName="cocineroId" interface="popover">
        <ion-select-option *ngFor="let cocinero of cocineros" [value]="cocinero.id">
          {{ cocinero.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </form>
</ion-content>
