<!-- plato-form.component.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ plato ? 'Editar Plato' : 'Nuevo Plato' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="platoForm">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" formControlName="precio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Ingredientes</ion-label>
      <ion-select formControlName="ingredientes" multiple="true" okText="Aceptar" cancelText="Cancelar">
        <ion-select-option *ngFor="let ingrediente of ingredientesDisponibles" [value]="ingrediente">
          {{ ingrediente.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="block" (click)="savePlato()" [disabled]="platoForm.invalid">
      Guardar
    </ion-button>
  </form>
</ion-content>
